In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\jphil\OneDrive\Documents\Data Projects\AirBnB'

In [3]:
df=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'airbnb_derived.csv'), index_col=False)

In [4]:
df.head()

,Unnamed: 0,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city,review_activity_ratio,tokens
0,0,958.0,"bright, modern garden unit - 1br/1bth",1169,Holly,Western Addition,37.77028,-122.43317,Entire home/apt,202,2,383,1,128,59,San Francisco,0.154047,"['bright', 'modern', 'garden', 'unit', '1br', ..."
1,1,5858.0,creative sanctuary,8904,Philip And Tania,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,1,365,0,San Francisco,0.000000,"['creative', 'sanctuary']"
2,2,8142.0,friendly room apt. style -ucsf/usf - san franc...,21994,Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,9,13,365,1,San Francisco,0.111111,"['friendly', 'room', 'apt', 'style', 'ucsf', '..."
3,3,8339.0,historic alamo square victorian,24215,Rosy,Western Addition,37.77564,-122.43642,Entire home/apt,575,9,28,2,365,0,San Francisco,0.000000,"['historic', 'alamo', 'square', 'victorian']"
4,4,8739.0,"mission sunshine, with private bath",7149,Ivan & Wendy,Mission,37.76030,-122.42197,Private room,110,1,770,2,159,34,San Francisco,0.044156,"['mission', 'sunshine', 'with', 'private', 'ba..."

In [5]:
df['city'].value_counts()

city
New York City         42910
Los Angeles           42447
Broward County        16893
Austin                14347
Clark County          13818
San Diego             12868
Nashville              8532
Chicago                7747
New Orleans            7056
San Francisco          6936
Santa Clara County     6522
Washington D.C.        6455
Seattle                6376
Denver                 5362
Twin Cities MSA        4765
Rhode Island           4742
Portland               4587
Boston                 3864
San Mateo County       3237
Asheville              3161
Oakland                2499
Columbus               2344
Santa Cruz County      1639
Jersey City            1314
Cambridge              1026
Salem                   288
Pacific Grove           220
Name: count, dtype: int64

In [ ]:
#I'm going to create a new column 'state' so that I can make a choropleth map in Tabelau

In [6]:
# Create a mapping dictionary for cities/counties to states
city_to_state = {
    'New York City': 'New York',
    'Los Angeles': 'California',
    'Broward County': 'Florida',
    'Austin': 'Texas',
    'Clark County': 'Nevada',
    'San Diego': 'California',
    'Nashville': 'Tennessee',
    'Chicago': 'Illinois',
    'New Orleans': 'Louisiana',
    'San Francisco': 'California',
    'Santa Clara County': 'California',
    'Washington D.C.': 'District of Columbia',
    'Seattle': 'Washington',
    'Denver': 'Colorado',
    'Twin Cities MSA': 'Minnesota',
    'Rhode Island': 'Rhode Island',
    'Portland': 'Oregon',
    'Boston': 'Massachusetts',
    'San Mateo County': 'California',
    'Asheville': 'North Carolina',
    'Oakland': 'California',
    'Columbus': 'Ohio',
    'Santa Cruz County': 'California',
    'Jersey City': 'New Jersey',
    'Cambridge': 'Massachusetts',
    'Salem': 'Oregon',
    'Pacific Grove': 'California'
}

# Assume your DataFrame is named df and it has a 'city' column
df['state'] = df['city'].map(city_to_state)

# Display the first few rows to verify the new column
print(df[['city', 'state']].head())

            city       state
0  San Francisco  California
1  San Francisco  California
2  San Francisco  California
3  San Francisco  California
4  San Francisco  California

In [7]:
df.head()

,Unnamed: 0,id,name,host_id,host_name,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,city,review_activity_ratio,tokens,state
0,0,958.0,"bright, modern garden unit - 1br/1bth",1169,Holly,Western Addition,37.77028,-122.43317,Entire home/apt,202,2,383,1,128,59,San Francisco,0.154047,"['bright', 'modern', 'garden', 'unit', '1br', ...",California
1,1,5858.0,creative sanctuary,8904,Philip And Tania,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,1,365,0,San Francisco,0.000000,"['creative', 'sanctuary']",California
2,2,8142.0,friendly room apt. style -ucsf/usf - san franc...,21994,Aaron,Haight Ashbury,37.76555,-122.45213,Private room,56,32,9,13,365,1,San Francisco,0.111111,"['friendly', 'room', 'apt', 'style', 'ucsf', '...",California
3,3,8339.0,historic alamo square victorian,24215,Rosy,Western Addition,37.77564,-122.43642,Entire home/apt,575,9,28,2,365,0,San Francisco,0.000000,"['historic', 'alamo', 'square', 'victorian']",California
4,4,8739.0,"mission sunshine, with private bath",7149,Ivan & Wendy,Mission,37.76030,-122.42197,Private room,110,1,770,2,159,34,San Francisco,0.044156,"['mission', 'sunshine', 'with', 'private', 'ba...",California

In [8]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'airbnb_derived_again.csv'))